Django==2.0.3
django-environ==0.4.4
psycopg2==2.7.4
pytz==2018.3
six==1.11.0
Collectfast==0.6.0
Django==2.0.3
django-cors-headers==2.2.0
django-debug-toolbar==1.9.1
django-environ==0.4.4
django-extensions==2.0.5
django-storages==1.6.5
djangorestframework==3.7.7
gevent==1.2.2
greenlet==0.4.13
gunicorn==19.7.1
Pillow==5.0.0
psycopg2==2.7.4
pytz==2018.3
six==1.11.0
sqlparse==0.2.4
